:root{
    --primary-color: #1DA1F2;
    --secondary-color: #d0eafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app{
    display: flex;
    align-items: center;
    max-width: 1300px;
    justify-content: center;
}

