.post{
    width: 100%;
    padding: 10px 20px;
    border: #dfdfdf 1px solid;
}

.post__header{
    display: flex;
    align-items: center;
}

.post__profilePicture{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    object-fit: contain;
    margin-right: 12px;
}

.post__username{
    font-size: 14px;
    font-weight: 600;
    margin-right: 4px;
}

.post__username2{
    color: #9b9b9b;
    font-size: 14px;
    margin-right: 16px;
}

.post__timeElapsed{
    font-size: 14px;
    color: #9b9b9b;
}

.post__description{
    margin-left: 52px;
    font-size: 14px;
    letter-spacing: .2px;
}

.post__image{
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 52px;
    border: #9b9b9b 1px solid;
}

.post__actions{
    display: flex;
    justify-content: space-between;
    margin: 16px 60px;
    align-items: center;
}

.post__action{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post__actions h5{
    margin-left: 8px;
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 400;
}